@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .clip-your-needful-style {

        clip-path: polygon(0 0, 100% 0%, 0% 100%, 0 50%);

    }

}

button[aria-current="true"] {
    width: 20px;
    border-radius: 20%;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}
